#fanback {
background:url(../imgs/facebook.png) repeat scroll 0 0 transparent;
display: none;
height: 100%;
left: 0;
position: fixed;
top: 0;
width: 100%;
z-index: 99999;
}
#fan-exit {
height: 100%;
width: 100%;
}
#fanbox {
background: none repeat scroll 0 0 white;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 50px 0 #d27700 inset;
width: 520px;
height: 400px;
left: 50%;
margin: -135px 0 0 -210px;
position: absolute;
top: 50%;

}
#fanclose {
background: url(../imgs/fanclose.png) repeat scroll 0 0 transparent;
cursor: pointer;
float: right;
height: 15px;
margin-right: -22px;
margin-top: -20px;
padding: 20px 40px 20px 20px;
position: relative;
}
.remove-borda {
height: 1px;
margin: 16px auto 0 20px;
position: relative;
width: 366px;
}