* {margin: 0px;padding: 0px;font-family: Arial, Helvetica, sans-serif;font-size: 12px; border:0;}
body,html,.all{margin:0;padding:0;min-width:1004px; min-height:1000px;}
body{background:#000 url(../imgs/bg.jpg) top no-repeat;}

/*banner */
.banner {

}

.banner img {
	width: 400px;

}

.grandopen {
	background: url(../imgs/Grand%20Open.png) no-repeat;
	width: 392px;
	height: 60px;
}
/*conteudo */
#center{background:url(../imgs/center.png) no-repeat bottom; width:1000px; height:750px;margin-top: px; margin-right:50px;}
.cont-bg {background:url(../imgs/bg-cont.png) no-repeat;}
.links {
	display: flex;
	justify-content: center;
	align-items: center;

}

/* conteudo principal */
.title-p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	padding-top: 7px;
	color: #cb9147;
}

/* conteudo text */
.title-text1 {
	color: #cb9147;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}
.title-text2 {
	color: #FFF;
	font-size: 18px;
}


.copyright { position: relative; height: 149px; line-height: 149px; width: 980px; margin: 0 auto; text-align: center; color: #fff; font-size: 16px; font-weight: bold; text-shadow: 0 0 5px rgba(0,0,0,1); }
.copyright a { opacity: 0.7; display: block; position: absolute; top: 65px; right: 58px; width: 100px; height: 30px; background: transparent url('../imgs/karim.png') no-repeat; }
.copyright a:hover { opacity: 1; }
.red {
	color: #ff8c00;
	font-size: 16px;
}
.abc {
	font-size: 16px;
}
