/*FONTE DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cretino');                
@import url('https://fonts.cdnfonts.com/css/understand');

/*Animação*/
@keyframes showSideBar {

    from {
        margin-left: -45vw;
    }

    to {
        margin-left: 1px;
    }

}


/*Cores*/
:root {
    --darkColor: #000000da;
    --blackColor: #252424fd;
    --goldColor: #ffd000;
}

.gradient-primario {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(3, 2, 0, 0.6090604026845637) 66%, rgba(23, 17, 1, 1) 100%);
}

.gradient-dourado {
    background: radial-gradient(circle, rgb(219, 173, 5) 0%, rgba(212, 157, 4, 0.744) 66%, rgba(153, 114, 7, 0.758) 100%);
}


/*Estilo Global*/
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

header{
    text-align: center;
    height: 100vh;
    font-family: 'Roboto', 'system-ui';    
}
.navDashboard{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navDashboard a{
    text-decoration: none;
    padding: 5px;
    margin: 2px 0;
    color: white;
    border: 1px solid silver;

}
.navDashboard a:hover{
    transition: 0.5s;
    color: var(--goldColor);

}
#logo {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: xx-large;
    font-family: 'understand';
    padding: 5px 0;
}
.statusDashboard fieldset {
    padding: 5px;
    text-align: left;
    margin: 5px;
}
.statusDashboard fieldset div{
    width: 32px;
    height: 32px;
}
#actions {
    display: flex;
}
#actions a {
    text-decoration: none;
    color: white;
    margin: 0 4px;
    border: 1px solid red;
}

#charQuests{
    height: 50vh;
}
header footer {
    position: absolute;
    bottom: 0;
    width: 20%;
    text-align: center;
    color:white;
}

#game-content{
    width: 100%;
    border: 6px double orange;
    margin: 5px;
    padding: 10px;
    background-color: white;
}