/*FONTE DO GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*ANIMAÇÃO*/
.pulse {
    animation: pulse 2.5s infinite ease-in-out alternate;
  }
  @keyframes pulse {
	0% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}

/*Estilo Global*/
* {  
    margin: 0;  
    padding: 0; 
    font-family: 'Roboto', 'system-ui';
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Impede que apareça barra de rolagem horizontal */
}


.gradient-primario {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(3,2,0,0.6090604026845637) 66%, rgba(23,17,1,1) 100%);
}
.gradient-dourado {
    background: rgb(252,205,34);
    background: radial-gradient(circle, rgba(252,205,34,1) 0%, rgba(204, 152, 10, 0.744) 66%, rgba(204, 152, 10, 0.758) 100%);
}


/*HEADER*/
header{
    position: relative;
    box-shadow: 0 2px 7px black;
    padding: 2px 0;
}
header nav {
    margin: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li {
    padding: 10px;
    margin: 5px;
    width: 100%;
}
header nav ul li a {
    text-decoration: none;
    color: var(--corSecundaria);
    font-weight: 500;
    padding-bottom: 5px;
    text-shadow: 0 1px 0.5rem white;
}
header nav ul li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
    filter: brightness(100%);
}
.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
/* FIM HEADER */

/* SECTIONS */
section {
    padding: 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

section span p{
    font-family: 'Courier New';
    font-size: 24px;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 2s steps(60, end);
    text-align: center; 
  }
section span p:nth-child(2){
    animation: type2 5s steps(60, end);
  }   
  @keyframes type{ 
    from { width: 0; } 
  } 
  
  @keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
  } 
  

section ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: thick double goldenrod;
    box-shadow: 1px 1px 5px black;
}

section li {
    list-style: none;
    padding: 10px;
    border: 2px solid #ffffff00;
}

section a {
    text-decoration: none;
    color: goldenrod;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 0 1px white;

}

section li:hover{
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    border-radius: 300px 300px 300px 300px / 99%;
    transition: 0.3s;
}
/* FOOTER */
footer {
    padding: 5px 0;
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    left: 0;
    bottom: 0;
    text-shadow: 1px 1px 1px black;
}

/* Fim Stylo Global*/








/* RESPONSIVIDADE */
/* Tela pequena (smartphones) - até 600px */
@media (max-width: 600px) {

    /* LOGO HEADER */
    .logo img{
        width: 48px;
        height: 48px;
    }
    /*Diminui logo header */
    .bg img {
        width: 480px;
        height: 320px;
    }

    /* Ajusta o espaçamento do header */
    header nav ul li {
        padding: 5px;
        margin: 2px;
    }

    section a {
        font-size: 14px;
    }

    /* Footer ocupa menos espaço */
    footer {
        padding: 3px 0;
        font-size: 12px;
    }
}


/* Tela média (tablets) - de 601px até 1024px */
@media (min-width: 601px) and (max-width: 1024px) {

    /* LOGO HEADER */
    .logo img{
        width: 64px;
        height: 64px;
    }    
    /* LOGO CENTRO */
    .bg img {
        width: 512px;
        height: 512px;
     }

    /* Ajusta o espaçamento do menu */
    header nav ul li {
        padding: 8px;
        margin: 4px;
    }

    /* Section com mais espaço */
    section {
        padding: 20px;
    }

    /* Footer um pouco maior */
    footer {
        padding: 10px 0;
        font-size: 14px;
    }
}

/* Tela grande (desktops) - acima de 1024px */
@media (min-width: 1025px) {


    /* LOGO HEADER */
    .logo img{
        width: 64px;
        height: 64px;
    }

    /* Logo centro */

    .bg img {
        width: 620px;
        height: 580px;
     }

    /* Aumenta o padding do header */
    header nav ul li {
        padding: 12px;
        margin: 6px;
    }

    /* Aumenta o espaçamento das sections */
    section {
        padding: 30px;
    }

    /* Footer com mais espaçamento */
    footer {
        padding: 15px 0;
        font-size: 16px;
    }
}
