#dinamicPage{
    background-color: var(--blackColor);
    padding: 10px 0;
}

#dinamicPage article{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

article img.dinamicImg {
    width: 50%;
    height: 50%;
}

.dinamicHeader {
    position: absolute;
    top: 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.dinamicHeader p {
    font-size: 40px;
    padding: 0 5px 0 10px;    
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.dinamicHeader img {
    width: 200px;
    filter: invert(100%);
}

.dinamicHeader p q {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;         
    padding: 5px 0;
    font-family: 'Verdana';
}

.dinamicBody {
    height: 60%;
    text-align: justify;
    font-weight: 350;
}
.dinamicBody span p {
    color: goldenrod;
    font-family: 'Segoe Ui';   
    font-size: large; 
    
}

.dinamicBody span strong{
    color: goldenrod;
    font-family: 'Georgia';
    font-size: 40px; 
    padding: 0 3px;
}


.dinamicFooter{
    margin: 20px 0;
    filter: drop-shadow(0px 0px 5px #2f1803);

}

.dinamicFooter a {
    text-decoration: none;
    padding: 10px;
    background-color: rgba(218, 165, 32, 0.908);
    color: #ffffff;
    text-shadow: 0px 0px 3px black;
    font-size: large;
    font-family: 'Tahoma';
    border-radius: 5%;
}

.dinamicFooter a:hover {
    filter: brightness(150%);
}