/* Estilo da vitrine de serviços */
.serviceShowcase {
    padding: 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;

}

.serviceShowcase .menu {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    width: 25%;
}

.serviceShowcase .menu button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border-left: 2px solid goldenrod;
    border-right: 2px solid goldenrod;
    cursor: pointer;
    transition: background-color 0.3s;
}

.serviceShowcase .menu button:hover {
    background-color: goldenrod;
}

.serviceShowcase .content {
    padding: 20px;
    height: 50vh;
    overflow: auto;

}

.serviceShowcase .content {
    border: 1px solid pink;

}
