body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 90vw;
    border: 2px double gold;
}


header, footer {
    background-color: rgb(255, 255, 255);
    border: 1px solid red;
    margin: 10px 0;
    display: block;

}

.box {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.171);
    border-radius: 5%; 
    border: thick double goldenrod;
    width: 100px;
    height: 100px;
}


