body {
    margin: 0;
    padding: 0;
    background-color: rgb(104, 144, 178);
}


main   {
    margin: 100px 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);


}



section   {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}