/*FONTE DO GOOGLE*/
@import url('https://fonts.cdnfonts.com/css/understand');

/*CORES*/
:root {
    --bgBlack: rgba(0, 0, 0, 0.808);    
}

/*BG*/
.pageBg{
    position: absolute;
    z-index: -1;
}
.kamaelBg{
    margin-top: 80px;
    background-image: url('../assets/bg/kamael.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(80%);
    width: 100vw;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: black;
    overflow-x: hidden;
}
.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 0;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: white;

}


.menu-background {
  position: absolute;
  inset: 0;
  right: 1rem;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 200px 200px / 7%;
  border: 2px solid goldenrod;
  box-shadow: 0px 1px 30px black;
  z-index: -1;
 
}

.menu-background.big {
  position: fixed;
} 



/*HEADER*/
header {
    /* position: fixed; */
    display: flex;
    z-index: 9999;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    border-radius: 0 0 200px 200px / 7%;
    border-bottom: 2px solid goldenrod;
    box-shadow: 0px 1px 30px black;
}
header .topoHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logoDragon img{
    height: 80px;
}
header .loginBox form{ 
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px white;
    padding: 10px;
}
header .loginBox label {
    color: white;
    font-family: 'Roboto';
    padding: 5px;
}
header .loginBox input {
    padding: 3px;
    width: 80px;
    height: 12px;
}



.showRoom{
  height: 80vh;
  background-color: red;
  margin: 10px 0;
}

.site {
  border: 10px double goldenrod;
}
  
  
  #panels #panels-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
  }
  #panels #panels-container .panel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    text-align: left;
    border-right: 1px solid #f00;
  }
  #panels #panels-container .panel img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  #panels #panels-container .panel .panels-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  #panels #panels-container .panel .anchor-panel,
  #panels #panels-container .panel .nav-panel {
    color: #000;
    text-transform: uppercase;
    margin-right: 2rem;
  }
  #panels #panels-container .panels-navigation {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    right: 2rem;
  }

#demo{
  position:relative;
  width:800px;
  height:300px;
  background-color:#000;
  margin:auto;
  overflow:hidden;
}

#demo h3 {
  position:absolute;
  font-family: 'Asap', sans-serif;
  font-weight:700;
  margin:0;
  padding:0;
  width:800px;
  text-align:center;
  visibility:hidden;
  font-size:120px;
  top:65px;
}
h2 {
  color:#9af600;
  margin-left:24px;
  margin-bottom:0px;
}
li {
  font-family: 'Asap', sans-serif;
  color:#999;
  margin-bottom:10px;
}

a:link, a:visited, a:active{
  color:#f60;
}