.game {
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}
.headerGame{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    height: 100vh;
}   

.navDashboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navDashboard a{
    text-decoration: none;
    padding: 5px;
    margin: 2px 0;
    color: white;
    border: 1px solid silver;

}
.navDashboard a:hover{
    transition: 0.5s;
    color: var(--goldColor);

}
#logo {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: xx-large;
    font-family: 'understand';
    padding: 5px 0;
}
.statusDashboard fieldset {
    padding: 5px;
    text-align: left;
    margin: 5px;
}
.statusDashboard fieldset div{
    width: 32px;
    height: 32px;
}
#actions {
    display: flex;
}
#actions a {
    text-decoration: none;
    color: white;
    margin: 0 4px;
    border: 1px solid red;
}
.headerGame footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

#game-content{
    border: 3px double orange;
    color: white;
    text-align: center;
    height: 95vh;
    width: 50vw;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px double orange;
}
.mapa img{
    width: 97%;
}


