# Impedir listagem de diretórios
Options -Indexes

# Bloquear acesso a arquivos de configuração
<FilesMatch "\.(ini|log|conf|bak|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear acesso a arquivos sensíveis
<FilesMatch "(htaccess|htpasswd|ini|phps|fla|psd|log|sh|sql|gz|tar)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear acesso a certos tipos de arquivos
<FilesMatch "\.(tpl|twig|cache)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Impedir hotlinking de imagens
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?pvpfull.online/.*$ [NC]

